@model AmazonRest.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prod_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thumbanil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thumbanil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipping_fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipping_fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stocks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stocks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.features)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.features)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.series)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_dimen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_dimen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_dimen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_dimen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
